/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* .background-purple {
    background-color: #540B51;
} */
/* .background-ivory {
    background-color: #F3EAE2;
} */

/* .button-google {
    background-color: #4285F4;
} */

.titles-black {
    color:  #191817;
}

.paragraph-black {
    color: #000000;
}

.paragraph-yellow {
    color: #ECB12F;
}

.links-blue {
    color: #2E71A6;
}

.footer-links-grey {
    color: #454245;
}


@media (max-width: 768px) {
    nav{
        background-color: #540B51;
        display: flex;
        flex-direction: row;
    }
    nav div > img {
        width: 100px;
    }

    nav .white-button{
        background-color: #540B51;
    }

    header{
        background-color: #540B51;
        color: #F3EAE2;
        text-align: center;
    }
    
    #email-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding: 1% 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        color:#540B51;
    }

    #google-button {
        background-color: #4285F4;
        display: flex;
        justify-content: left;
        align-items: center;
        width: 70%;
        padding: 1% 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
    }

    #google-button img{
        background-color: white;
        width: 5%;
        margin-right: 20%;
    }

    #slack-screenshot{
        width: 30;

    }

}